* {
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.decoration-none {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.shadow-hover:hover {
  text-shadow: 5px 5px 10px red;
  transform: scale(1.1);
}
.img-glow:hover {
  transform: scale(1.02);
}
.logo-img-glow:hover {
  transform: scale(1.11);
}
.txt-glow:hover {
  transform: scale(1.1);
}
.navbar-nav li:hover {
  background-color: #aa9144;
}
.header-icon-size {
  font-size: 20px;
  color: white;
}
.header-icon-size:hover {
  font-size: 25px;
  color: black;
}
.profilePicNuman {
  background-position: center;
  width: 60%;
}

.youtube-channel-link {
  font-size: 30px;
  color: black;
}
.youtube-channel-link:hover {
  font-size: 35px;
  color: black;
  background-color: rgb(238, 229, 229);
}

.footer-icon-size {
  font-size: 40px;
}

.footer-icon-size:hover {
  font-size: 50px;
}

.hobby-section {
  background-color: #5f95b449;
}
.hobby-txt-content {
  background-color: white;
}

.container-hobby-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 46.5%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.favorite-city-img {
  width: 100%;
}
.box-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.favorite-personality-img {
  width: 100%;
}

.favorite-tourist-spots-container {
  background-color: #7ebed8;
}
.favorite-tourist-spots {
  width: 100%;
}
